build/
*.o
*.ko
*.mod
*.mod.c
.*.cmd
Module.symvers
modules.order
.tmp_versions/
tools/hwav
debian/hwsv4l2-dkms/
debian/hwsv4l2-dev/
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.debhelper
debian/debhelper-build-stamp
*.deb
